services:
  functional:
    build:
      context: ./functional.repository
    volumes:
      - ./functional.repository/target/allure-results:/app/target/allure-results
    command: mvn test -Dkarate.env=container -DbaseUrl=http://backend:3000
    depends_on:
      - backend
  backend:
    container_name: backend
    build:
      context: ./logging-backend
    ports:
      - "3000:3000"
    environment:
      - SLOW_DEP_MS=200
      - RATE_LIMIT=100
  grafana:
    image: grafana/grafana
    ports:
      - "5000:3000"
    environment:
      - GF_AUTH_DISABLE_LOGIN_FORM=true
      - GF_AUTH_ANONYMOUS_ENABLED=true
      - GF_AUTH_ANONYMOUS_ORG_ROLE=Admin
      - INFLUXDB_TOKEN=super-secret-admin-token
    volumes:
      - "./non-functional.repository/grafana/datasources:/etc/grafana/provisioning/datasources"
      - "./non-functional.repository/grafana/dashboards:/etc/grafana/provisioning/dashboards"
    depends_on:
      - influxdb
  influxdb:
    container_name: influxdb
    image: influxdb
    ports:
      - "8086:8086"
    environment:
      - DOCKER_INFLUXDB_INIT_MODE=setup
      - DOCKER_INFLUXDB_INIT_USERNAME=test
      - DOCKER_INFLUXDB_INIT_PASSWORD=test12345
      - DOCKER_INFLUXDB_INIT_ORG=my-org
      - DOCKER_INFLUXDB_INIT_BUCKET=jmeter
      - DOCKER_INFLUXDB_INIT_ADMIN_TOKEN=super-secret-admin-token
  jmeter:
    build:
      context: ./non-functional.repository
    volumes:
      - "./non-functional.repository/TC01-must_succeed_validating_accuracy_of_rate_limiter.jmx:/app/TC01-must_succeed_validating_accuracy_of_rate_limiter.jmx"
      - "./non-functional.repository/TC02-must_evaluate_memory_leak.jmx:/app/TC02-must_evaluate_memory_leak.jmx"
      - "./non-functional.repository/results:/app/results"
    depends_on:
      - influxdb